.Favorites {
    position: absolute;
    top: 0;

    width: 100%;
    text-align: center;

    opacity: 1;

    transition: opacity 200ms linear;

    &[data-close=true] {
        opacity: 0;
        z-index: -1;
    }

    >.star {
        position: relative;
        height: 40px;
        top: 16px;
        z-index: 1;

        text-align: center;

        filter: brightness(120%);

        >img {
            box-sizing: border-box;
            height: 100%;
            border: white solid 5px;
            border-radius: 50%;

            cursor: pointer;

            -webkit-animation: flash 1s ease-in infinite alternate;
            animation: flash 1s ease-in infinite alternate;

            &[data-active=true] {
                content: "";

                border-color: #FF7846;

                filter: brightness(1);

                -webkit-animation: spin 3s linear infinite;
                animation: spin 3s linear infinite;
            }
        }
    }

    >.favorites-con {
        display: inline-block;
        box-sizing: border-box;

        // width: 784px; // 适配项
        // height: 784px; // 适配项
        max-height: calc(62vh - 40px);

        // padding: 30px;

        border: transparent solid 2px;
        border-radius: 20px;

        background-color: rgba(255, 255, 255, 0.5);

        transform: scale(0);
        transform-origin: top center;
        opacity: 0;

        overflow: hidden;

        transition: all 200ms linear;

        &[data-show=true] {
            transform: scale(1);
            opacity: 1;
        }

        .content {
            position: relative;
            width: 100%;
            height: 100%;

            >div {
                position: absolute;

                box-sizing: border-box;
                padding: 3px 3px;
                // width: 88px; // 88 * 7 + 18 * 6 = 724 (px)
                // height: 100px; // 100 + 10 px

                border: transparent solid 1px;
                border-radius: 10px;

                // font-size: 14px; // 适配项

                cursor: pointer;

                transform-origin: 50% 50% 0px;
                touch-action: none;

                overflow: hidden;

                &:hover {
                    background-color: rgba(180, 180, 180, 0.4);
                }

                img {
                    width: 50%;
                    transform: scale(0.8);
                }

                .title {
                    padding: 10px 0;
                }
            }
        }
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    from {
        border-color: transparent;
    }

    to {
        border-color: #FF7846;
    }
}

@-webkit-keyframes flash {
    from {
        border-color: transparent;
    }

    to {
        border-color: #FF7846;
    }
}