$WallpaperPadSize: -10px;

.Wallpaper {
    position: absolute;
    left: $WallpaperPadSize;
    top: $WallpaperPadSize;
    right: $WallpaperPadSize;
    bottom: $WallpaperPadSize;
    z-index: -1;

    background-color: rgb(190, 222, 235);

    filter: blur(0px) brightness(90%);

    transition: all 300ms linear;

    &[data-searching=true] {
        transform: scale(1.1);
        filter: blur(10px) brightness(115%);
    }

    >img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 300ms linear;
    }
}